.main {
  width: 100%;
  background: #000;
  overflow: hidden;
}

.gallery {
  display: flex;
  gap: 20px;
  height: 100vh;
  padding: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageContainer {
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spacer {
  height: 40vh;
}
